@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);

}

.product {
    width: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    box-shadow: 2px, 2px, 2px solid #333;
    background-color: white;
}


.item_image {
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item_image img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

}

.itemcontents {
    width: 300px;
    height: 450px;
}

h3 {
    margin: 10px 40px;
    color: #3d8168;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 6px;
}

.itemname {
    margin: 20px 40px;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces';
}

p {
    font-size: 14px;
    margin: 10px 40px;
    color: #3d8168;
    font-family: 'Montserrat';
    font-weight: 500;
    
}

.prices {
    display: flex;
    flex-direction: row;
    margin: 10px 40px;
}

h1 {
    color: #3d8168;
    font-family: 'Fraunces';
}

h6 {
    display: flex;
    color: #3d8168;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    font-size: 14px;
    font-family: 'Fraunces';
}

button {
    background-color: #3d8168;
    width: 80%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px 40px;
}
button:hover{
    background-color:hsl(212, 21%, 14%);}

button i {
    font-size: 17px;
    font-family: 'Fraunces';
}

@media screen and (max-width: 375px) {
    .product {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    
    }
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}